body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.main-login {
    width: 100%;
    height: 100vh;
    background: rgb(38, 80, 115);
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login, .right-login {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login {
    flex-direction: column;
}

.left-login h1 {
    font-size: 3em;
    color: white;
}

.left-login-img {
    width: 50%;
    max-width: 300px; 
}

.card-login {
    width: 100%;
    max-width: 300px; 
    padding: 30px 40px;
    background: #4a7599;
    border-radius: 20px;
    box-shadow: 0px 10px 40px black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-login h1 {
    color: white;
    font-weight: 800;
    margin: 0;
}

.textfield {
    width: 100%;
    margin: 10px;
}

.textfield input {
    width: 100%;
    padding: 12px;
    background-color: #f1fada;
    color: #000000;
    font-size: 1em;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 10px 40px rgb(56, 56, 56);
    outline: none;
}

.textfield label {
    color: #f1fada;
    margin-bottom: 10px;
}

.textfield input::placeholder {
    color: rgb(148, 161, 115)
}

.btn-login, .btn-cadastro {
    width: 60%;
    padding: 16px 0px;
    margin: 5px 0;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #000000;
    background-color: #f1fada;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #959e7f;
}
.btn-login a {
    text-decoration: none; 
    color: inherit; 
}

.btn-cadastro a {
    text-decoration: none; 
    color: inherit; 
}


@media screen and (max-width: 768px) {
    .left-login, .right-login {
        width: 100%;
    }
    
    .left-login h1 {
        font-size: 2em; 
    }
    
    .left-login-img {
        width: 70%;
        max-width: 200px; 
    }
    
    .card-login {
        width: 90%;
    }
}
